asgiref==3.3.1
backcall==0.2.0
colorama==0.4.4
decorator==4.4.2
Django==3.1.4
django-ckeditor==6.0.0
django-debug-toolbar==3.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.13
gunicorn==20.0.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
# mysqlclient==2.0.2
parso==0.8.0
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
Pygments==2.7.3
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
traitlets==5.0.5
wcwidth==0.2.5
